.projetoDeCasas {
    .bg-projetoDeCasas {
        background: url(../images/bg-projetoDeCasas.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;

        p {
            font-family: 'Optima';
            font-weight: 100;
            font-style: normal;
            text-transform: uppercase;
            color: #fff;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }

    .txt {
        margin-top: 20px;
        p {
            font-family: 'Optima';
            font-weight: 100;
            font-style: normal;
            text-transform: uppercase;
            color: #4c4034;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: 2px;
            border-bottom: solid 1px #4c4034;
            display: inline-block;
            padding-right: 50px;
        }
    }

    .txt-1 {
        margin-top: 30px;
        margin-bottom: 50px;

        p {
            font-family: 'Optima';
            font-weight: 100;
            font-style: normal;
            text-transform: uppercase;
            color: #4c4034;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }

    .txt-2 {
        margin-top: 70px;
        margin-bottom: 50px;

        .box {
            border-top: solid 1px #4c4034;
            border-bottom: solid 1px #4c4034;
            padding-top: 30px;
            padding-bottom: 30px;

            p {
                font-family: 'Optima';
                font-weight: 100;
                font-style: normal;
                text-transform: uppercase;
                color: #4c4034;
                font-size: 20px;
                line-height: 35px;
                letter-spacing: 3px;
            }
        }
    }
}



/* Extra Small */
@media(max-width:767px) {}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}