.aLocalizacao {

    .bg-aLocalizacao {
        background: url(../images/bg-projetoDeCasas.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;

        p {
            font-family: 'Optima';
            font-weight: 100;
            font-style: normal;
            text-transform: uppercase;
            color: #fff;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }

    .txt {
        margin-top: 20px;
        margin-bottom: 40px;

        p {
            font-family: 'Optima';
            font-weight: 100;
            font-style: normal;
            text-transform: uppercase;
            color: #4c4034;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: 2px;
            border-bottom: solid 1px #4c4034;
            display: inline-block;
            padding-right: 50px;
        }
    }

    .txt-1 {
        margin-top: 30px;
        margin-bottom: 50px;

        p {
            font-family: 'Optima';
            font-weight: 100;
            font-style: normal;
            text-transform: uppercase;
            color: #4c4034;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }

    .txt-2 {

        p {
            margin-top: 30px;
            margin-bottom: 30px;
            font-family: 'Optima';
            font-weight: 100;
            font-style: normal;
            text-transform: uppercase;
            color: #4c4034;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 2px;
        }
    }
}


/* Extra Small */
@media(max-width:767px) {
    .aLocalizacao {

        .bg-aLocalizacao {
            padding-top: 40px;
            padding-bottom: 40px;

            p {
                font-size: 13px;
                line-height: 23px;
                letter-spacing: 2px;
            }
        }
        .txt-1 {
            margin-top: 30px;
            margin-bottom: 50px;
    
            p {

                font-size: 10px;
                line-height: 20px;
                letter-spacing: 2px;
            }
        }

        .txt-2 {

            p {
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 2px;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}